**/__pycache__/**

share/**
!share/README.md
!share/*.py
log_out/**
# tests/log/*
# tests/session_data/*

auto_detect/**

tests/
.cache*/**

codeql-db/**

data_out/**

log_out_agent_sec/**

.vscode/**